# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OSMnx cache
cache/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.venv/
env/

# Large generated datasets
data/